@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
   
}
/* h1,h2,h3,h4,h5{
    margin-bottom: 0 !important;
}
p{
    margin-bottom: 0 !important;
} */
ul{
    padding-left: 0 !important;
}
.color-gradient{
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-1{
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 42px;
    padding-right: 42px;
    border-radius: 61px;
    border-style: none;
    color: #fdfcfc;
}
ul li a {
    text-decoration: none;
}
.gap-32{
    gap: 32px;
}
.py-17{
    padding: 17px 0;
}

.max-948{
    max-width: 948px;
}

.max-829{
    max-width: 829px;
}

.max-w-536{
    max-width: 536px;
}
.pb-16{
    padding-bottom: 16px;
}
.pb-67{
    padding-bottom: 50px;
}
.pb-24{
    padding-bottom: 24px;
}

.pt-124{
    padding-top: 50px;
}
.pb-48{
    padding-bottom: 48px;
}
.pt-152{
    padding-top: 55px;
}

.max-w-461{
    max-width: 461px;
}
.gap-10{
    gap: 10px;
}
.mb-24{
   margin-bottom: 24px;
}
.pt-119{
    padding-top: 119px;
}
.pt-47{
    padding-top: 47px;
}
.pl-211{
    padding-left: 0;
}

.box6{
    border-radius: 16px;
    border: 0.5px #BB7FEF solid;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;  

    transition: all 300ms linear;
}
.box6:hover {
    border: 1px solid transparent;
    box-shadow: 0px 3px 30px 0px gray;
    /* transition-duration: 300; */
}
.box6:hover .min-box {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);

}
.max-w-386{
    max-width: 386px;
}
.box2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 16px;
    height: 100% !important;
    border: 0.5px #B6B6B6 solid;
}
.box2:hover {
    border: 1px solid transparent;
    box-shadow: 0px 9px 50px 0px #0000001F;
    transition: all 300ms linear;
}
.box2:hover .mini-box4{
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
}
.box2:hover .mini-box4 svg path{
    fill: white;
}
.mini-box4{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 80px;
    max-width: 70px;
    height: 70px;
    transition: all 300ms linear;
    background: linear-gradient(130.88deg, rgba(168, 84, 233, 0.16) -9.14%, rgba(79, 145, 252, 0.16) 283.16%);
}
.position-absolute27{
    position: absolute;
    right: 0;
    top: 0;
}
.position-absolute28{
    position: absolute;
    bottom: 0;
    left: 0;
   
}
.box2:hover .min-box {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);

}
.pb-8{
padding-bottom: 8px;
}
.btn-2 {
    padding: 16px 42px;
    border: 1px solid transparent !important;
    transition: all 900ms linear !important;
    border-radius: 61px;

}

.btn-2:hover {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%) !important;
    color: white !important;
    border: 1px solid white !important;
}
.position-absolute{
    position: absolute;
    top: 65%;
    left: 13%;
}

.pb_45 {
    padding-bottom: 45.8px;
}
.pt_67 {
    padding-top: 44.2px;
}
.z_20 {
    z-index: 20;
}
.bg_blur {
    border-radius: 17.34px;
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    backdrop-filter: blur(31.4px);
    position: relative;
    max-width: 997px;
    bottom: 11%;
    padding: 22px 32.98px;
}
.gap_12 {
    gap: 12px;
}
.gap-42{
    gap: 42px;
}

.position-absolute4{
    position: absolute;
    top: 0%;
    left: 0;
    
}
.position-absolute23{
    position: absolute;
    top: 4%;
}
.position-absolute5{
position: absolute;
right: 0;
top: 15%;
}
.position-absolute6{
    position: absolute;
    bottom:-20%;
    left: 0%;
    
}
.position-absolute7{
    position: absolute;
    right: 0%; 
    top: 0%;
    
}

.max-w-1140{
    max-width: 1140px !important;
}
.mt-45{
    margin-top: 30px;
}

.gap-12{
    gap: 12px;
}

.pt-67{
    padding-top: 67px;
}
.pb-47{
    padding-bottom: 47px;
}
.pt-16{
    padding-top: 16px;
}
.pt-33{
    padding-top: 33px;
}
.pb-33{
    padding-bottom: 33px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-24{
    padding-top: 24px;
}
/* .pb-8{
    padding-bottom: 8px;
} */
.max-w-324{
    max-width: 324px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-47{
margin-bottom: 47px;
}
.max-w-360{
    max-width: 360px;
}
.max-w-666{
    max-width: 666px;
}
.pb-52{
    padding-bottom: 52px;
}
.pb-152{
    padding-bottom: 60px;
}
.box3{
    border-radius: 16px;
    border: 0.5px #C2C2C2 solid;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100% !important;
    transition: all 300ms linear;
}
.box3:hover {
    border: 1px solid transparent;
   
    box-shadow: 0px 3px 30px 0px gray;
}
.box3:hover .min-box {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);

}

.box4{
    border-radius: 16px;
}
.max-w-534{
    max-width: 534px;
}
.max-w-456{
    max-width: 456px;
}
.pb-47{
    padding-bottom: 47px;
}
.max-w-792{
    max-width: 792px;
}
.max-w-788{
    max-width: 788px;
}
.pb-42{
    padding-bottom: 42px;
}
.gap-48{
    gap: 48px;
}
.pt-91{
    padding-top: 91px;
}
.backgroundimage{
    background-image: url(../img/bgwavepic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}
.prpline{
    background: #A457EA;
    height: 1px;
}
.pb-150{
    padding-bottom: 150px;
}
.pt-44{
    padding-top: 44px;
}
.hoverline{
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.hoverline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #A357EA;
    transition: all 500ms linear;
}
.hoverline:hover::after{
    width: 100%;
}
.pt-83{
    padding-top: 83px;
}
.pt-109{
    padding-top: 109px;
}
.pb-116{
    padding-bottom: 116px;
}

.position-absolute12{
    position: absolute;
    top: 0%;
    right: 0%;
    
}
.position-absolute13{
    position: absolute;
    bottom: -15%;
    left: 0%;
   
  
}


.z_20 {
    z-index: 20;
}

.lh_24 {
    line-height: 24px;
}

.lh_70 {
    line-height: 50.4px;
}

.lh_52 {
    line-height: 45.8px;
}

.lh_33 {
    line-height: 33.6px;
}
.lh-26{
 line-height: 26.1px;
}


.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}


.w_948 {
    max-width: 948px;
}

.w_536 {
    max-width: 536px;
}

.w_562 {
    max-width: 562px;
}

.w_461 {
    max-width: 461px;
}

.w_386 {
    max-width: 386px;
}

.w_534 {
    max-width: 534px;
}

.w_456 {
    max-width: 456px;
}

.w_788 {
    max-width: 788px;
}

.w_666 {
    max-width: 666px;
}

.py_18 {
    padding: 18px 0;
}

.pb_42 {
    padding-bottom: 20px;
}

.pl_18 {
    padding-left: 18px;
}

.my_12 {
    margin-top: 12px;
    margin-bottom: 12px;
}


.py_47-pl_80 {
    padding: 47.74px 0 47.74px 0px;
}

.pb_52 {
    padding-bottom: 52px;
}

.pt_20 {
    padding-top: 20px;
}

.pb_8 {
    padding-bottom: 8px;
}


.pb_52 {
    padding-bottom: 52px;
}

.pt_52 {
    padding-top: 52px;
}

.pb_150 {
    padding-bottom: 50px;
}

.pb_152 {
    padding-bottom: 50px;
}

.pb_148 {
    padding-bottom: 58px;
}

.pt_152 {
    padding-top: 52px;
}

.pt_109 {
    padding-top: 50px;
}

.pb_116 {
    padding-bottom: 56.74px;
}

.pb_122 {
    padding-bottom: 52px;
}

.pt_119 {
    padding-top: 59.89px;
}

.pt_124 {
    padding-top: 54px;
}

.pt_75 {
    padding-top: 35px;
}

.pb_75 {
    padding-bottom: 35px;
}



.pb_24 {
    padding-bottom: 24.82px;
}

.pt_91 {
    padding-top: 51px;
}

.pr_52 {
    padding-right: 52px;
}

.min_h_571 {
    min-height: 571px;
}

.pb_12 {
    padding-bottom: 12px;
}

.pb_26 {
    padding-bottom: 26px;
}

.pb_45 {
    padding-bottom: 45.8px;
}

.pt_44 {
    padding-top: 44px;
}

.pt_67 {
    padding-top: 44.2px;
}

.my_6 {
    margin: 6px 0;
}

.img_box {
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    padding: 14.5px 32.98px;
    top: 10%;
    max-width: 997px;
}

.bg_blur {
    border-radius: 17.34px;
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    backdrop-filter: blur(31.4px);
    position: relative;
    max-width: 997px;
    bottom: 11%;
    padding: 22px 32.98px;
}

.left_line {
   position: absolute;
    left: -3%;
    top: 0;
}



.rightline{
    position: absolute;
    top: 0;
    right: 0;
}

.herobox {
    bottom: 10%;
    right: 15%;
    backdrop-filter: blur(30px);
}
.rounded-12 {
    border-radius: 12px;
}
.max-w-997 {
    max-width: 997px;
}
.py-14 {
    padding: 14px 0;
}
.border-right {
    border-right: 1px solid white;
}
.max-w-133{
    max-width: 133px;
}
.pt-lg-67 {
    padding-top: 67px;
}
.btn-1 {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    padding: 16px 42px !important;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.btn-1:hover {
    background: white;
    border: 1px solid #A854E9;
    
    
   
    border: 1px solid #A854E9;
    color: #A854E9 !important;
}

.position-absolute24{
    position: absolute;
    top: -10%;
    left: -5%;
}
.position-absolute25{
    position: absolute;
bottom: -10%;
    right: -5%;

}

.max-w-948{
    max-width: 948px;
}
.max-w-829{
    max-width: 829px;
}
.position-absolute26{
    position: absolute;
    top: 37%;
    right:37%;
}


.pl-42{
    padding-left: 42px !important;
}
.mb-12{
    margin-bottom: 12px;
}
.pr-62{
padding-right: 62px !important ;
}
.mb-20{
    margin-bottom: 20px;
}



































.pb-152{
    padding-bottom: 30px;
}


.gap-215{
    gap: 50px;
}
.mb-20{
   margin-bottom: 20px;
}

@media (min-width:576px) {
    .pb-67{
        padding-bottom: 67px;
    }

    .pt-124{
        padding-top: 124px;
    }
    .pb-152{
        padding-bottom: 152px;
    }
    .pt-152{
        padding-top: 152px;
    }
    .pl-211{
        padding-left: 211px;
    }

    .mt-45{
        margin-top: 45px;
    }
    
    
}
/* 
.max-w-385{
    max-width: 385px;
} */

@media (max-width:992px) {

    nav .menu {
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        color: #0B132A;
        background-color: white;
        transition: all 200ms linear;
        gap: 5px;
    }

    nav .menu {
        display: flex;
        flex-direction: column;
    }

    nav .menu ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
    }

    .icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: green; */
        z-index: 6;
    }

    .icon span {
        width: 30px;
        height: 4px;
        background-color: #9661ED;
        border-radius: 3px;
        display: inline;

    }

    .nav-btn {
        gap: 60px;
        padding-top: 50px;
    }

    #menu-box:checked~.menu {
        right: 0;
    }
    

    /* .lg-flex-coloum {
        flex-direction: column;
    } */

}





































































